/* follow window radius for drop target border */
.send-box:drop(active) {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

statuspage.qr .icon {
  -gtk-icon-size: 192px;
}

statuspage entry.card {
  padding: 12px 18px;
}

progressbar.flag-pride progress {
  background: linear-gradient(to right,
      #E40303,
      #FF8C00,
      #FFED00,
      #008026,
      #24408E,
      #732982);
}

progressbar.flag-trans progress {
  background: linear-gradient(to right,
      #5BCEFA,
      #F5A9B8,
      #FFFFFF,
      #F5A9B8,
      #5BCEFA);
}

progressbar.flag-aro progress {
  background: linear-gradient(to right,
      #3da542,
      #a8d377,
      #fefefe,
      #a9a9a9,
      #000000);
}

progressbar.flag-ace progress {
  background: linear-gradient(to right,
      #000000,
      #A3A3A3,
      #FFFFFF,
      #800080);
}

progressbar.flag-bi progress {
  background: linear-gradient(to right,
      #D60270 20%,
      #9B4F96 40%,
      #0038A8 60%);
}

progressbar.flag-intersex progress {
  background: linear-gradient(to right,
      #FFD800,
      #7902AA);
}

progressbar.flag-lesbian progress {
  background: linear-gradient(to right,
      #D52D00,
      #EF7627,
      #FF9A56,
      #FFFFFF,
      #D162A4,
      #B55690,
      #A30262);
}

progressbar.flag-disability-pride progress {
  background: linear-gradient(to right,
      #585858 20%,
      #CF7280 30%,
      #EEDF77 40%,
      #E9E9E9 50%,
      #7AC1E0 60%,
      #3AAF7D 70%,
      #585858 80%);
}

progressbar.flag-black-history progress {
  background: linear-gradient(to right,
      #000000,
      #c31f1e,
      #f9ca00,
      #1c6935);
}

progressbar.flag-aids progress {
  background: linear-gradient(to right,
      #ffffff,
      #d11113,
      #ffffff,
      #d11113,
      #ffffff);
}

progressbar.flag-autism progress {
  background: linear-gradient(to right,
      #e53043 10%,
      #f68347 25%,
      #fac857 40%,
      #fac857 60%,
      #99d671 75%,
      #21ae75 90%);
}

progressbar.flag-non-binary progress {
  background: linear-gradient(to right,
      #fff534,
      #ffffff,
      #995acf,
      #2e2e2e);
}

progressbar.flag-pan progress {
  background: linear-gradient(to right,
      #ff218c,
      #ffd800,
      #21b1ff);
}